<?xml version='1.0'?>

<model>
  <name>Glass wall segment</name>
  <version>0.1.0</version>
  <sdf version='1.5'>model.sdf</sdf>
  <author>
    <name>Ilija Hadzic</name>
    <email>ih2435@columbia.edu</email>
  </author>
  <description>
    A flat segment made out of glass; good for constructing walls.
  </description>
</model>
